<div class="row">
	<div class="col-md-12 p-0" >
	  <div class="about-image">
	  	<img src="assets/corona.jpg">
	  	<div class="about-title">
	  		<h1>Welcome</h1>
	  		<p>We are here to help you</p>
	  	</div>
  	  </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 p-5">
		<h1 class="text-center">Services</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="service-card">
					<img style="width:65px;height:77px; margin: 20px;" src="assets/service1.png">
					<div class="service-text">
						<div class="service-title">Wound</div>
						<div class="service-content">always available for any kind of medicine or health care</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="service-card">
					<img style="width:65px;height:77px; margin: 20px;" src="assets/service2.png">
					<div class="service-text">
						<div class="service-title">Wound</div>
						<div class="service-content">always available for any kind of medicine or health care</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="service-card">
					<img style="width:65px;height:77px; margin: 20px;" src="assets/service3.png">
					<div class="service-text">
						<div class="service-title">Wound</div>
						<div class="service-content">always available for any kind of medicine or health care</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">	
			<div class="col-md-4">
				<div class="service-card">
					<img style="width:65px;height:77px; margin: 20px;" src="assets/service1.png">
					<div class="service-text">
						<div class="service-title">Wound</div>
						<div class="service-content">always available for any kind of medicine or health care</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="service-card">
					<img style="width:65px;height:77px; margin: 20px;" src="assets/service3.png">
					<div class="service-text">
						<div class="service-title">Wound</div>
						<div class="service-content">always available for any kind of medicine or health care</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="service-card">
					<img style="width:65px;height:77px; margin: 20px;" src="assets/service2.png">
					<div class="service-text">
						<div class="service-title">Wound</div>
						<div class="service-content">always available for any kind of medicine or health care</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center m-5">Our Team</h1>

		<div class="row">
			<div class="col-md-4 p-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
				  <img src="assets/avatar.png" class="card-img-top" style="border-radius: 50%; padding: 20px;" alt="...">
				  <div class="card-body text-center">
				    <h5 class="card-title">Person 1</h5>
				    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				  </div>
				</div>
			</div>	

			<div class="col-md-4 p-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
				  <img src="assets/avatar.png" class="card-img-top" style="border-radius: 50%; padding: 20px;" alt="...">
				  <div class="card-body text-center">
				    <h5 class="card-title">Person 2</h5>
				    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				  </div>
				</div>
			</div>	


			<div class="col-md-4 p-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
				  <img src="assets/avatar.png" class="card-img-top" style="border-radius: 50%; padding: 20px;" alt="...">
				  <div class="card-body text-center">
				    <h5 class="card-title">Person 3</h5>
				    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				  </div>
				</div>
			</div>	


		</div>
	</div>
</div>
