<div class="row h-100">
	<div class="col-md-3 mx-auto col-sm-12 my-2">
		<div class="card py-3 tabs text-center">
		  <div class="card-body">
		    <h3 class="card-title">Cases</h3><hr>
		    <h6 class="card-subtitle mb-2 text-muted">Total cases worlwide</h6>
		    <h4>{{cases | number}}</h4>
		  </div>
		</div>
	</div>
	<div class="col-md-3 mx-auto col-sm-12 my-2">
		<div class="card py-3 tabs text-center">
		  <div class="card-body">
		    <h3 class="card-title">Recovery</h3><hr>
		    <h6 class="card-subtitle mb-2 text-muted">Total recovery worlwide</h6>
		    <h4>{{recovery | number}}</h4>
		  </div>
		</div>
	</div>
	<div class="col-md-3 mx-auto col-sm-12 my-2">
		<div class="card py-3 tabs text-center">
		  <div class="card-body">
		    <h3 class="card-title">Death</h3><hr>
		    <h6 class="card-subtitle mb-2 text-muted">Total Death cases worlwide</h6>
		    <h4>{{deaths | number}}</h4>
		  </div>
		</div>
	</div>
</div>